/* Header */
.header{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 /10%);
    position:sticky;
    top: 0;
    z-index: 1;
}
.header-top{
    background: var(--color-one);
    color: var(--color-two);
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

.header-main{
    background-color: #fff;
}

.header-main .inner-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    overflow: hidden;
}

.header-main .inner-logo a{
    text-decoration: none;
    color: var(--color-one);
    display: flex;
    align-items: center;
}

.header-main .inner-logo img{
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.header-main .inner-logo span{
    font-size: 30px;
}

.header-main .inner-menu ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.header-main .inner-menu ul li{
    margin-left: 15px;
    margin-right: 15px;
}

.header-main .inner-menu ul li a{
    font-size: 18px;
    color: var(--color-one);
    text-decoration: none;
}

.header-main .inner-contact{
    font-size: 18px;
    color: var(--color-text);
}

.header-main .inner-social ul{
    display: flex;
    list-style-type: none;
}

.header-main .inner-social ul li{
    margin-left: 15px;
}

.header-main .inner-social ul li a{
    color: var(--color-one);
    font-size: 27px;
}
/* End-Header */

/* Button */
.button{
    background-color: var(--color-one);
    color: #fff;
    padding: 12px 35px;
    font-size: 18px;
    border-radius: 45px;
    text-decoration: none;
    transition: all 0.5s;
    display: inline-block;
}

.button-1{
    background-color: var(--color-two);
}

.button-1:hover{
    background-color: white;
    color: var(--color-two);
    border: 2px solid var(--color-two);
}
.button-2{

    bottom: 40px;
}
.button-2:hover{
    background-color: #fff;
    color: var(--color-one);
    border: 2px solid var(--color-one);
}
.button-3{
    background-color: #13A05D;
    color: white;
}

.button-3:hover{
    background-color: #fff;
    color: #13A05D;
    border: 2px solid #13A05D;
}
/* End Button */
/* Section-1 */
    .section-1{
        background-color: #F1F2F6;
        padding: 80px 0px;
    }

    .section-1 .inner-wrap{
        display: flex;
    }

    .section-1 .inner-content{
        width: 50%;
    }

    .section-1 .inner-content .inner-title{
        font-size: 60px;
        color: var(--color-one);
    }

    .section-1 .inner-content .inner-des{
        font-size: 20px;
        color: var(--color-one);
        margin-bottom: 40px;
    }

    .section-1 .inner-content .inner-list{
        display: flex;
        margin-bottom: 40px;

    }

    .section-1 .inner-content .inner-list .inner-item{
        width: 50%;
        color: var(--color-text);
        font-size: 20px;
        display: flex;
        align-items: center;
    }

    .section-1 .inner-content .inner-list .inner-item i{
        font-size: 24px;
        margin-right: 10px;
    }

    .section-1 .inner-image{
        width: 50%;
        position: relative;
    }

    .section-1 .inner-image img{
        width: 100%;
        height: auto;
    }

    .section-1 .inner-image .inner-sale{
        background-color: var(--color-two);
        color: var(--color-one);
        border-radius: 50%;
        position: absolute;
        top:0px;
        right: 150px;
        display: flex;
        width:150px;
        height: 150px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section-1 .inner-image .inner-sale :nth-child(1){
        font-size: 22px;
        font-weight: 600;
    }

    .section-1 .inner-image .inner-sale :nth-child(2){
        font-size: 42px;
        font-weight: 600;
    }

/* End Section-1 */

/* Section-2 */
.section-2{
    padding: 80px 0px;
}

.section-2 .inner-wrap{
    display: flex;
    justify-content: space-between;

}

.section-2 .inner-box{
    width: calc(100%/3 - 20px);
    height: fit-content;
    aspect-ratio: 4/3;
    position: relative;
    overflow: hidden;
}
.section-2 .inner-box a{
    position: absolute;
}
.section-2 .inner-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* ANh tu co dan khong bi vo */
    transition: all 0.5s;
}

.section-2 .inner-box:hover img{
    transform: scale(1.2);
}
.section-2 .inner-box .inner-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.section-2 .inner-box .inner-tag{
    background-color: #13A05D;
    color: #fff;
    display: inline-block;
    padding: 6px 20px;
    border-radius: 45px;
    font-size: 18px;
}

.section-2 .inner-box {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 32px;
    color: var(--color-one);

}
.section-2 .inner-box:nth-child(1){
    color: #fff;
}

.section-2 .inner-box .inner-title{
    display: block;
}
.section-2 .inner-box .inner-sale{
    font-size: 50px;
    color: var(--color-two);
    margin-bottom: auto;
    margin-top: auto;
}
.section-2 img{
    width: 200px;
}

.section-2 .inner-box .inner-new-price{
    color: var(--color-two);
    font-size: 48px;
    font-weight: 700;
}

.section-2 .inner-box .inner-old-price{
    color: var(--color-text);
    font-size: 22px;
}
/* End Section-2 */

/* Section-3 */
.section-3{
    padding: 80px 0px;
    background-color: var(--background-color);
}

.section-3 .outer-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}
.section-3 .outer-title{
    color: var(--color-one);
    font-size: 48px;
    text-align: center;
}

.section-3 .outer-des{
    color: var(--color-text);
    font-size: 22px;
}

.section-3 .inner-wrap{
    display: flex;
    justify-content: space-between;
}

.section-3 .inner-wrap .inner-item{
    width: 330px;
    text-align: center;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

}

.section-3 .inner-wrap .inner-item i{
    font-size: 48px;
    color: var(--color-text);
    text-align: center;
}

.section-3 .inner-wrap .inner-item .inner-title{
    display: block;
    font-size: 22px;
    color: var(--color-one);
}

.section-3 .inner-wrap .inner-item .inner-des{
    margin-top: 0px;
    font-size: 18px;
    color:var(--color-text);
}
/* End Section-3 */

/* Section 4 */
.section-4{
    background-color: #fff;
}

.section-4 .inner-wrap{
    display: flex;
    padding: 80px 0px;
}

.section-4 .inner-wrap .inner-content{
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items:self-start ;
}

.section-4 .inner-wrap .inner-image{
    width: 50%;
}

.section-4 .inner-wrap .inner-title{
    color: var(--color-one);
    font-size: 60px;
    margin-bottom: 32px;
}

.section-4 .inner-wrap .inner-des{
    color: var(--color-text);
    font-size: 23px;
    margin-bottom: 32px;
}

.section-4 .inner-wrap img{
    width: 100%;
}
/* End Section 4 */

/* Section 5 */
.section-5{
    background-color: var(--background-color);
}

.section-5 .inner-wrap{
    min-width: 100%;
    padding: 32px 0px;
}

.section-5 .inner-wrap .inner-content{
    background-image: url(../images/background23.jpg);
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0px;
    padding: 16px 32px;
}
.section-5 .inner-wrap .inner-item{
    color: #fff;
    
}

.section-5 .inner-wrap .inner-title{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding-left: 15px;
}

/* End Section 5 */
/* Section 6 */

.section-6{
    background-color: #fff;
}
.section-6 .inner-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
}

.section-6 .inner-wrap .inner-title{
    color: var(--color-one);
    font-size: 32px;
    font-weight: 600;
    
}

.section-6 .inner-wrap .inner-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 32px;
}

.section-6 .inner-wrap .inner-list .inner-item{
    width: calc(100% / 5);
    border: 2px solid var(--background-color);
    
}


.section-6 .inner-wrap .inner-list .inner-item img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    transition: all 0.5s;
}

.section-6 .inner-wrap .inner-list .inner-item:hover img{
    transform: scale(1.1);
}

.section-6 .inner-wrap .inner-list .inner-item .inner-image{
    width: 100%;
    height: 200px;
    overflow: hidden;
    
}

.section-6 .inner-wrap .inner-list .inner-content{
    width: 100%;
    padding: 16px;
}

.section-6 .inner-wrap .inner-list .inner-content .inner-product{
    color: var(--color-one);
    margin-bottom: 8px;
    margin-top: 0px;
    font-size: 18px;
}

.section-6 .inner-wrap .inner-list .inner-content .inner-price{
    color: var(--color-one);
    margin: 0;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
}


/* End Section 6 */

/* Section 7 */
.section-7{
    background-color: var(--background-color);

}

.section-7 .inner-wrap{
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.section-7 .inner-wrap .inner-title{
    color: var(--color-one);
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 48px;
}

.section-7 .inner-wrap .inner-form{
    display: flex;
    justify-content: center;
    width: 100%;

}

.section-7 .inner-wrap .inner-form .inner-input{
    height: 50px;
    border-radius: 30px;
    border: none;
    width: 450px;
    padding: 15px;
    margin: 10px;
}

.section-7 .inner-wrap .inner-form button{
    border: none;
}
.section-7 .inner-wrap .inner-form button:hover{
    border: 2px solid var(--color-two);
}
/* End Section 7 */
/* Section 8 */
.section-8{
    background-color: white;
}

.section-8 .inner-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.section-8 .inner-wrap .inner-title{
    font-size: 32px;
    font-weight: 800;
    color: var(--color-one);
}

.section-8 .inner-wrap .inner-video{
    width: 100%;
}
.section-8 .inner-wrap .inner-video-playable{
    margin-top: 48px;
    width: 100%;
}
/* End Section 8 */

/* Section 9 */
.section-9{
    background-color: var(--background-color);
}

.section-9 .inner-wrap{
    display: flex;
    padding: 80px 32px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-9 .inner-wrap .inner-content{
    display: flex;
    flex-direction: row;
}

.section-9 .inner-wrap .inner-content i{
    color: var(--color-two);
    font-size: 48px;
}

.section-9 .inner-wrap .inner-title{
    color: var(--color-one);
    font-size: 48px;
    font-weight: 600;
}

.section-9 .inner-wrap .inner-list{
    display: flex;
    justify-content:space-between;
    margin-top: 48px;

}

.section-9 .inner-wrap .inner-item{
    width: calc(100% / 4 - 32px);
    background-color: #fff ;
    padding: 32px;
}

.section-9 .inner-wrap .inner-item .inner-feedback{
    color: var(--color-one);
    font-size: 18px;
    margin-bottom: 8px;
}

.section-9 .inner-wrap .inner-item .inner-customer{
    color: var(--color-one);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;    
}

/* End Section 9 */
/* Section 10 */
.section-10{
    background-color: #fff;
}

.section-10 .inner-wrap{
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.section-10 .inner-wrap .inner-content{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 0px 16px;

}

.section-10 .inner-wrap .inner-content hr{
    margin: 16px 0px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.section-10 .inner-wrap .inner-title{
    color: var(--color-one);
    font-size: 48px;
    
}

.section-10 .inner-wrap .inner-note{
    color: var(--color-text);
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 16px;

}

.section-10 .inner-wrap .inner-item i{
    font-size: 24px;
    color: var(--color-text);
}

.section-10 .inner-wrap .inner-map{
    width: 60%;
    padding: 0px 16px;
}

.section-10 .inner-wrap .inner-map iframe{
    width: 100%;
}

/* End Section 10 */

@media screen and (max-width: 992px)  {

    /* Header */
    .header .header-main{
        overflow: hidden;
    }
    /* End Header */
    /* Section 1 */

    .section-1 .inner-wrap{
        flex-wrap: wrap;

    }

    .section-1 .inner-wrap .inner-content{
        width: 100%;
        order: 2;
    }

    .section-1 .inner-wrap .inner-image{
        width: 100%;
        order: 1;
    }
    /* End Section 1 */

    /* Section 2 */
    .section-2 .inner-wrap{
        display: flex;
        flex-wrap: wrap;
    }
    .section-2 .inner-box{
        width: 100%;
        aspect-ratio: 16/7;
        margin-bottom: 32px;
    }
    
    /* End Section 2 */
    /* Section 3 */
    .section-3 .inner-wrap{
        flex-wrap: wrap;
        justify-content: center;
    }
    .section-3 .inner-wrap .inner-item{
        width: 50%;
    }
    /* End Section 3 */
    /* Section 5 */
    .section-5 .inner-wrap .inner-content{
        flex-direction: column;
        padding: 32px;
    }

    .section-5 .inner-wrap .inner-content .inner-item{
        margin-bottom: 32px;
    }
    /* End Section 5 */

    /* Section 6 */
    .section-6 .inner-wrap .inner-list{
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-6 .inner-wrap .inner-list .inner-item{
        width: 50%;
    }
    /* End Section 6 */

    /* Section 9 */
    .section-9 .inner-wrap .inner-list{
        flex-wrap: wrap;
    }

    .section-9 .inner-wrap .inner-list .inner-item{
        width: calc(100% / 2 - 32px);
        margin: 16px;
    }
    /* End Section 9 */

    /* Section 10 */
    .section-10 .inner-wrap{
        flex-wrap: wrap;
    }

    .section-10 .inner-wrap .inner-content{
        width: 100%;
        margin: 32px;
    }

    .section-10 .inner-wrap .inner-map{
        width: 100%;
    }
    /* End Section 10 */
}

@media (max-width:768px) {
    /* Section 1 */
    .section-1 .inner-wrap .inner-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-1 .inner-wrap .inner-content .inner-title{
        text-align: center;
    }

    .section-1 .inner-wrap .inner-content .inner-list{
        display: flex;
        flex-direction: column;
    }

    .section-1 .inner-wrap .inner-content .inner-item{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 32px;
    }
    /* End Section 1 */

    /* Section 3 */
    .section-3 .inner-wrap .inner-item{
        width: 100%;
    }
    /* End Section 3 */

    /* Section 4 */

    .section-4 .inner-wrap{
        flex-wrap: wrap;
    }

    .section-4 .inner-wrap .inner-content{
        width: 100%;
        order: 2;
        align-items: center;
        padding: 32px;
        text-align: center;
    }


    .section-4 .inner-wrap .inner-image{
        width: 100%;
        order: 1;
    }
    /* End Section 4 */
    /* Section 5 */
    .section-5  .inner-wrap .inner-item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-5  .inner-wrap .inner-item i{
        margin-bottom: 32px;
    }
    /* End Section 5 */

    /* Section 6 */
    .section-6 .inner-wrap .inner-list .inner-item{
        width: 100%;
    }
    /* End Section 6 */
    /* Section 10 */
    .section-10 .inner-wrap .inner-item{
        text-align: center;
    }
    /* End Section 10 */
}
